.contact {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2em 0 1em 0;
}

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 442px;
    /* Esquema del formulario */
    padding-bottom: 1em;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    text-align: right;
}

input,
textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;

    /* Tamaño uniforme del campo de texto */
    width: 400px;
    box-sizing: border-box;

    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;

    border: none;
    border-bottom: 2px solid #e81c41;
    background-color: transparent;
}

input:focus,
textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #c4072a;
    outline: none;
}

textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;

    /* Proporcionar espacio para escribir texto */
    height: 5em;
    resize: vertical;
    max-height: 300px;
    min-height: 200px;
}

#msj {
    resize: none;
}

.button-form {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    /* margin-left: .5em; */
    /* Alinear el boton con los campos de texto */
    display: flex;
    justify-content: flex-end;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-right: 3em;
}