.juan {
    font-size: 20px;
    color: #fff;
}

.links-navbar {
    color: #fff;
    text-decoration: none;
}

.links-navbar:hover {
    color: #e81c41
}

.sasasa a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.sasasa a:hover {
    color: #e81c41;
}

.olga {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 320px) and (max-width: 480px) {
    .olga {
        flex-direction: column;
    }
}